body {
  background-color: rgb(29, 26, 43);
  font-family: sans-serif;
  font-size: 120%;
}
table {
  margin: auto;
  width: 80%;
}
th {
  color: turquoise;
  text-align: left;
}
tr:nth-child(even) {
  background-color: rgba(77, 76, 86, 0.505);
}
tr:nth-child(odd) {
  background-color: rgba(54, 53, 54, 0.514);
}
tr:nth-child(1) {
  background-color: rgb(29, 26, 43);
}
th,
td {
  padding: 2%;
}
.Sites {
  color: rgb(249, 55, 93);
}
td {
  color: white;
}
td:hover {
  background-color: yellow;
  box-shadow: -7px 7px 0px rgb(125, 125, 0), -6px 6px 0px rgb(125, 125, 0),
    -5px 5px 0px rgb(125, 125, 0), -4px 4px 0px rgb(125, 125, 0),
    -3px 3px 0px rgb(125, 125, 0), -2px 2px 0px rgb(125, 125, 0),
    -1px 1px 0px rgb(125, 125, 0);
  color: black;
}
tr:hover {
  background-color: rgb(69, 69, 47);
}
tr:nth-child(1):hover {
  background-color: rgb(29, 26, 43);
}
